@import './../../mixin.scss';

section {
    width: 300px;
    height: 80px;
    border-radius: 100px 0 0 100px;
    box-shadow: 0 0 7px 0px silver;
    background-image: url('./../../assets/img/playerBackground.jpg');
    background-size: cover;
    @include horicontal();

    .player {
        @include middle();
        gap: 15px;
    }

    // player image
    img {
        width: auto;
        height: 150px;
        margin-bottom: 65px !important;

        &:hover {
            transform: scale(1.05);
        }
    }

    // name
    span {
        @include start();
        width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: white;
        @include fs($fs: 24px);
        height: 40px;
        text-transform: capitalize;
    }
}

.player-active {
    box-shadow: 0 0 8px 2px red;

    img {
        height: 170px !important;
        margin-bottom: 75px !important;
        z-index: 1 !important;
        animation: wiggle 1s ease-in-out;
    }

    span {
        font-weight: bold;
    }
}

@keyframes wiggle {

    0%,
    100% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-3deg);
    }

    50% {
        transform: rotate(3deg);
    }

    75% {
        transform: rotate(-3deg);
    }
}

@media(max-height: 1000px) or (max-width: 1000px) {
    .playableArea {
        margin: 0 50px 70px 0;
        z-index: 1;
    }

    .btnAdd {
        margin-left: 36px !important;
        margin-right: 45px !important;
        background-color: black !important;
    }

    span {
        color: white;
        @include fs($fs: 12px);
        height: 40px;
        @include middle();
    }

    .btnAdd {
        width: 26px;
        height: 26px;
        margin-left: 14px !important;
        margin-right: 14px !important;
    }

    section {
        width: 150px !important;
        height: 34px !important;
        border-radius: 0 17px 17px 0 !important;

        .player[_ngcontent-ng-c1737856312] {
            margin-bottom: 0 !important;
            margin-left: -26px;
            gap: 5px;

            img {
                height: 60px !important;
                margin-bottom: 32px !important;
            }

            span {
                width: 60px;
                @include fs($fs: 12px);
                height: 40px;
            }
        }

    }
}