@import './../../mixin.scss';

section {
    @include monitorSize();
    @include middle();
    background-color: black;
    background-image: url('./../../assets/img/startscreen.png');
    // background-image: url('./../../assets/img/startingscreenalternative.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .playableArea {
        @include middle();
        @include column($g: 20px);
    }

    img {
        width: 80%;
    }
}

.startBtn {
    width: auto;
    height: auto;
    @include fs($fs: 80px);
    @include linkAsBtn($pVertical: 12px, $pHoricontal: 24px, $backColor: yellow, $borderColor: white);

    &:hover {
        transform: scale(1.2);
    }
}