@import './../../mixin.scss';

section {
    @include monitorSize();
    @include middle();
    background-color: black;
    background-image: url('./../../assets/img/startscreen.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.playableArea {
    @include middle();

    img {
        width: 300px;
        height: 300px;
    }

    .startBtn {
        width: auto;
        height: auto;
        margin-top: 46px !important;
        padding: 6px 46px !important;
        font-size: 24px;
        border: 3px solid black;
        border-radius: 8px;
        background-color: black;
        padding: 12px 24px;
        cursor: pointer !important;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &:hover {
            @include linkAsBtn($pVertical: 12px, $pHoricontal: 24px,
                $backColor: #2A2A34, $borderColor: #2A2A34);
        }
    }
}