<!-- players -->
<app-player [ngStyle]="{'top.px': 260 + (i * 170)}" *ngFor="let player of game.players; let i = index" [name]="player"
    [i]="i" [playerActive]="i == game.currentPlayer">
</app-player>

<section>
    <div class="playableArea">
        <div class="cardStack">
            <!-- card stack -->
            <img [ngStyle]="{'right.px': i * 5}" *ngFor="let c of [0,1,2,3]; let i = index;"
                src="./../../assets/img/cards/card_cover.png">

            <img (click)="takeCard()" class="topCard" src="./../../assets/img/cards/card_cover.png">

            <!-- stack for played card -->
            <img *ngFor="let card of game.playedCards" src="./../../assets/img/cards/{{ card }}.png" class="playedCard">

            <!-- current card with animation -->
            <img *ngIf="pickCardAnimation" class="pickCard" src="./../../assets/img/cards/{{ currentCard }}.png">

        </div>
    </div>
</section>

<div class="btnContainter" *ngIf="game.players.length < 5">
    <button mat-fab color="primary" class="btnAdd" (click)="openDialog()">
        <mat-icon>add</mat-icon>
    </button>
    <span>Add player</span>
</div>

<app-game-info></app-game-info>